.chord-list-chord {
    display: inline;
    margin: auto 4px;
    padding: 20px;
    border: 1px solid grey;
  }
  
  .chord-list-chord.selected {
    display: inline;
    margin: auto 4px;
    background-color: #c3c3c3;
  }
  
  .chords-list {
    margin: 3%;
  }
  
  .chords {
    margin: 2%
  }